.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: rgba(38, 38, 38, 0.3);
}

.modalContainer {
  background-color: var(--white-color);
  border-radius: 30px;
  min-height: 100px;
  max-width: 335px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 20px;
  animation: appear 1000ms ease 1;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.closeBtn {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: var(--hover-general);
  cursor: pointer;
}

.closeBtn svg {
  stroke: var(--dark-color);
}

.closeBtn:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .modalContainer {
    max-width: 473px;
  }
}
