.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  animation: rotateLoader 2000ms linear infinite;
}

.percentage {
  position: absolute;
  color: var(--white-color);
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.04em;
  margin: 0;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .image {
    width: 396px;
    height: 396px;
  }

  .percentage {
    font-size: 80px;
  }
}
