.searchContainer {
  background-color: var(--accent-light);
  border-radius: 30px;
  padding: 0.1px 20px 20px;
  margin-top: 40px;
  animation: appearDown 1000ms ease 1;
}

.selectContainer {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  animation: appearDown 1400ms ease 1;
}

.resetFilterBtn {
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 700;
  height: 42px;
  border-radius: 30px;
  margin-left: auto;
  display: block;
  text-transform: uppercase;
  animation: appearDown 1400ms ease 1;
  transition: var(--hover-general);
  cursor: pointer;
}

.resetFilterBtn:hover {
  color: var(--placeholder-color);
}

@keyframes appearDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 768px) {
  .searchContainer {
    padding: 40px 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
  }

  .selectContainer {
    width: 356px;
    column-gap: 16px;
    margin: 0;
  }

  .resetFilterBtn {
    margin-top: -20px;
  }
}

@media screen and (min-width: 1280px) {
  .searchContainer {
    justify-content: center;
  }

  .selectContainer {
    width: 406px;
  }
}

