.formContainer {
  max-width: 295px;
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.avatarInputRow {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.label {
  position: relative;
}

.label svg {
  position: absolute;
  top: 2px;
  right: 16px;
  pointer-events: none;
}

.inputAvatarURL {
  width: 161px;
  height: 42px;
  outline: none;
  border-radius: 30px;
  border: 1px solid var(--accent-color);
  padding: 12px;
  box-sizing: border-box;
}

.inputStandard {
  width: 100%;
  height: 42px;
  outline: none;
  border-radius: 30px;
  border: 1px solid var(--accent-color);
  padding: 12px;
  box-sizing: border-box;
}

.addAvatarInput {
  max-width: 126px;
}

.addAvatarInput::-webkit-file-upload-button {
  opacity: 0;
  visibility: hidden;
  width: 1px !important;
}

.addAvatarInput::before {
  content: "Upload photo";
  width: 126px;
  height: 42px;
  border-radius: 30px;
  background-color: var(--accent-light);
  color: var(--dark-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  cursor: pointer;
  padding-left: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: -44%;
  left: 0%;
  transition: var(--hover-general, background-color 250ms ease);
}

.addAvatarInput:hover::before {
  background-color: var(--hover-color);
}

.submitBtn {
  width: 100%;
  height: 42px;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  transition: var(
    --hover-general,
    background-color 250ms ease,
    color 250ms ease
  );
  cursor: pointer;
}

.submitBtn:hover {
  background-color: var(--hover-color);
  color: var(--accent-color);
}

.errorMsg {
  color: var(--error-color);
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  margin: 2px 0 0 0;
}

@media screen and (min-width: 768px) {
  .formContainer {
    max-width: 380px;
    row-gap: 14px;
  }

  .avatarInputRow {
    width: 380px;
    justify-content: flex-start;
    margin-bottom: 14px;
  }

  .label svg {
    right: 0px;
  }

  .inputAvatarURL {
    width: 226px;
  }

  .inputStandard {
    height: 52px;
    padding: 16px;
    font-size: 16px;
    line-height: 1.25;
  }

  .addAvatarInput::before {
    width: 146px;
    font-size: 14px;
    line-height: 1.29;
  }

  .submitBtn {
    height: 52px;
    font-size: 16px;
    line-height: 1.25;
  }

  .errorMsg {
    font-size: 12px;
    line-height: 1.17;
  }
}
