.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: url("../../assets/images/main/main-dog-mobile.webp") no-repeat
    center / cover;
  z-index: 103;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: appear 1200ms ease 1;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .container {
    background-image: url("../../assets/images/main/main-dog-tablet.webp");
  }

  .logo {
    width: 374px;
    height: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    background-image: url("../../assets/images/main/main-dog-desktop.webp");
  }
}
