.burgerButtonContainer {
  display: block;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.iconDefault {
  stroke: var(--dark-color);
}

.iconHomepage {
  stroke: var(--white-color);
}

@media screen and (min-width: 768px) {
  .button {
    width: 40px;
    height: 40px;
  }

  .button svg {
    width: 36px;
    height: 36px;
  }
}

/* Masaüstünde gizle */
@media screen and (min-width: 1280px) {
  .burgerButtonContainer {
    display: none;
  }
}
