.listInfo {
  width: 243px;
  display: flex;
  align-items: center;
  column-gap: 27px;
  margin: 0px auto 18px auto;
  padding: 0;
  list-style: none;
}

.listInfo li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listInfo li:first-of-type p {
  max-width: 54px !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

.listInfo li:first-of-type p span {
  max-width: 54px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.listInfo li p {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--placeholder-color);
  margin: 0;
}

.listInfo li p span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--dark-color);
  text-transform: capitalize;
  margin-top: 4px;
  display: inline-block;
}
