.messageContainer {
  position: absolute;
  bottom: 32px;
  left: 32px;
  width: 294px;
  height: 121px;
  border-radius: 20px;
  background-color: var(--white-color);
  padding: 18px 16px;
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  z-index: 2;
}

.imgBox {
  width: 60px;
  min-width: 60px;
  height: 60px;
  min-height: 60px;
  background-color: var(--accent-light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentBox .comment {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--text-input);
}

.nameBirthdayBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.name {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
}

.birthday {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--placeholder-color);
}

.birthday span {
  color: var(--dark-color);
}

@media screen and (min-width: 1280px) {
  .messageContainer {
    left: 61px;
    bottom: 97px;
  }
}
